#projects{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.slider{
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 30px;
    scrollbar-width: none;
    padding: 20px;
}
#projects h2{
    font-size: 2vmax;
    background: linear-gradient(to right,rgb(203,53,108),white);
    background-clip:text ;
    color: transparent;
    text-align: center;
}
